
     /*   h1{
            color: red;
            text-decoration: green underline;
        }
    */

     .heading1{
color: rgb(240, 0, 32);
font-size: 30px

;
}

.first{
    text-decoration: underline black  
}
#logo{
    width: 150px;
    height: 300px;
    border-radius: 50%;
}
    .heading2{
    color: rgb(13, 89, 253);
    font-size: 30px
    
    ;
    }